<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/bootstrap") -%>
    <link rel="stylesheet" href="/css/batch.css">
    <title>Batch Overview | Studbudd</title>
</head>

<body>
    <%- include("partials/navbar") -%>
        <main>
            <h1 id="batch-name"></h1>
            <section>
                <div id="sectionheader">
                    <h2>Classes Overview</h2>
                    <button style="margin-left: auto;" data-bs-toggle="modal" data-bs-target="#classModal"
                        type="button">
                        <div id="button-text">Add New Class</div><strong>+</strong>
                    </button>
                    <!-- New batch modal -->
                    <div class="modal fade" id="classModal" tabindex="-1" aria-labelledby="batchModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add New Class</h5>
                                    <button id="close-class-modal" type="button" class="btn-close"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <label for="batch-tag" class="col-form-label">Class Tag:</label>
                                            <input type="text" class="form-control" id="new-class-tag">
                                        </div>
                                        <div class="mb-3">
                                            <label for="subjects" class="col-form-label">Subjects (Optional):</label>
                                            <div id="subject-container" class="mb-3 m-1 border">
                                                <div class="p-2">
                                                    <input type="text" class="form-control" placeholder="Subject Name">
                                                    <input type="text" class="form-control" placeholder="Subject Code(Optional)">
                                                </div>
                                            </div>
                                            <button class="btn" style="background-color: white; color: #3498db;" type="button" onclick="clearSubjects()">Reset</button>
                                            <button class="btn" style="background-color: #3498db; color: white;" type="button" onclick="addMoreSubjects()">Add subject</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button id="add-class-btn" type="button" class="btn" style="background-color: #3498db; color: white;" onclick="addNewClass()">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('partials/empty', { id: 'empty-class' }) -%>
                    <div id="classes" class="grid class-grid"></div>
            </section>
            <br>
            <section>
                <div id="sectionheader">
                    <h2>Documents Overview</h2>
                    <button style="margin-left: auto;" data-bs-toggle="modal" data-bs-target="#docModal"
                        type="button">
                        <div id="button-text">Add New Document</div><strong>+</strong>
                    </button>
                    <!-- New document modal -->
                    <div class="modal fade" id="docModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="docModalLabel">Add New Document</h5>
									<button id="close-doc-modal" type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<form>
										<div class="mb-3">
											<label for="doc-tag" class="col-form-label">Document Tag:</label>
											<input type="text" class="form-control" id="new-doc-tag">
											<label for="doc-desc" class="col-form-label">Description(Optional):</label>
											<textarea class="form-control" id="new-doc-desc"></textarea>
										</div>
										<div class="mb-3">
											<input type="file" name="doc-file" id="doc-file" accept="image/*,.pdf">
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button id="add-doc-btn" type="button" class="btn" style="background-color: #3498db; color: white;" onclick="addNewDoc()">Confirm</button>
								</div>
							</div>
						</div>
					</div>
                </div>
                <%- include('partials/empty', { id: 'empty-doc' }) -%>
                <div id="docs" class="grid doc-grid"></div>
            </section>
        </main>
        <%- include("partials/footer") -%>
        <script src="/js/batch.js"></script>
</body>
</html>