<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("partials/bootstrap") -%>
	<link rel="stylesheet" href="/css/orghome.css">
	<title> Organization | Studbudd </title>
</head>

<body>
	<%- include('partials/navbar', { domain: data }) -%>
		<main>
			<h1 id="org-name"></h1>
			<section>
				<p id="subhead">
					See how your batches are doing... We were here all the time!!
				</p>
				<div id="sectionheader">
					<div id="sec-header-flex">
						<h2>Batches Overview</h2>
						<div class="progress-imp">
							<span id="studentpercent" style="font-weight: bold;"></span> exhausted
							<div class="bar-border">
								<div class="bar-progress" id="studentprogress"></div>
							</div>
						</div>
					</div>
					<button data-bs-toggle="modal" data-bs-target="#batchModal" type="button">
						<div id="button-text">Add New Batch</div><strong>+</strong>
					</button>
					<!-- New batch modal -->
					<div class="modal fade" id="batchModal" tabindex="-1" aria-labelledby="batchModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Add New Batch</h5>
									<button id="close-batch-modal" type="button" class="btn-close"
										data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<form>
										<div class="mb-3">
											<label for="batch-tag" class="col-form-label">Batch Tag:</label>
											<input type="text" class="form-control" id="new-batch-tag">
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button id="add-batch-btn" type="button" class="btn btn-primary"
										onclick="addNewBatch()">Confirm</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%- include('partials/empty', { id: 'empty-batch' }) -%>
					<div id="batches" class="grid batch-grid"></div>
			</section>
			<br>
			<section>
				<p id="subhead">
					All the documents that have been added on organization level are visible here. These are visible to
					all the students.
				</p>
				<div id="sectionheader">
					<div id="sec-header-flex">
						<h2>Documents Overview</h2>
						<div class="progress-imp">
							<span id="documentpercent" style="font-weight: bold;"></span> exhausted
							<div class="bar-border">
								<div class="bar-progress" id="documentprogress"></div>
							</div>
						</div>
					</div>
					<button data-bs-toggle="modal" data-bs-target="#docModal" type="button">
						<div id="button-text">
							Add new Document <strong>+</strong>
						</div>
					</button>

					<!-- Document modal -->
					<div class="modal fade" id="docModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="docModalLabel">Add New Document</h5>
									<button id="close-doc-modal" type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<form>
										<div class="mb-3">
											<label for="doc-tag" class="col-form-label">Document Tag:</label>
											<input type="text" class="form-control" id="new-doc-tag">
											<label for="doc-desc" class="col-form-label">Description(Optional):</label>
											<textarea class="form-control" id="new-doc-desc"></textarea>
										</div>
										<div class="mb-3">
											<input type="file" name="doc-file" id="doc-file" accept="image/*,.pdf">
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button id="add-doc-btn" type="button" class="btn btn-primary"
										onclick="addNewDoc()">Confirm</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%- include('partials/empty', { id: 'empty-doc' }) -%>
					<div id="docs" class="grid doc-grid"></div>
			</section>

			<br>

			<h1>
				Marketplace | Studbudd
			</h1>
			<section>
				<p>
					Are you all caught up? Let's replenish your resources
				</p>
			</section>

			<br>

			<h1>
				Help and Support | Studbudd
			</h1>
			<section>
				<p>
					Are you stuck? We're there to help you!!
				</p>
			</section>
		</main>

		<%- include('partials/footer') -%>
</body>
<script src="/js/orghome.js"></script>
</html>